@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Index";
}

@if(TempData["ResultOk"] != null ){
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container box-shadow p-5">
    <h1 class="text-center mb-3">Manejo de Productos Dulce Pooh</h1>

    <div class="col mb-3">
        <a aps-controller = "Productos" asp-action= "Create" class="btn btn-lg btn-primary">
            <i class="bi bi-file-plus-fill"></i>
            Adicionar Producto
        </a>
    </div>

    <table class="table table-bordered table-hover" >
        <thead>
            <tr>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Descripcion Producto</th>
                <th scope="col">Estado</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">MarcaId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td width="20%">@item.Name</td>
                    <td width="20%">@item.Description</td>
                    <td width="25%">@item.Estado</td>
                    <td width="20%">@item.Subcategoria</td> 
                     <td width="20%">@item.MarcaId</td>  

                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Productos" 
                                asp-action="Edit" 
                                asp-route-id="@item.Id" 
                                class="btn btn-sm btn-primary">
                                <i class="bi bi-pencil-square"></i>
                                Editar
                            </a>&nbsp;

                            <a asp-controller="Productos" 
                                asp-action="Delete" 
                                asp-route-id="@item.Id" 
                                class="btn btn-sm btn-danger">
                                <i class="bi bi-trash-fill"></i>
                                Eliminar
                            </a>
                        </div>                        
                    </td>
                </tr>   
            }
        </tbody>
    </table>
</div>