@model IEnumerable<CRUDInventoryQuick.Models.ASPNETUSERROLE>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create">Agregar Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AspNetRoleId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AspNetRoleId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.AspNetRoleId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
