@model IEnumerable<CRUDInventoryQuick.Models.PRECIO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create"  class="btn btn-info"><i class="bi bi-bookmark-plus"></i>Agregar nuevo precio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVentaInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVentaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTO_Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVentaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVentaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRODUCTO_Producto.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrecioId" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i>Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PrecioId"  class="btn btn-sm btn-success"><i class="bi bi-bar-chart"></i>Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PrecioId"  class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
