@model IEnumerable<CRUDInventoryQuick.Models.PRECIO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVentaInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVentaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTO_Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVentaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVentaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRODUCTO_Producto.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrecioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrecioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrecioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
