@model IEnumerable<CRUDInventoryQuick.Models.ASPNETUSER>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreNetUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dirección)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teléfono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoConfirmado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelloDeSeguridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReclamarTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosFactoresDisponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAbierta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccesoDenegado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNetUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirección)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teléfono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoConfirmado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelloDeSeguridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReclamarTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosFactoresDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAbierta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccesoDenegado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ASPNETUSER_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ASPNETUSER_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ASPNETUSER_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
